.accordion,
.question {
  @apply bg-white rounded-lg relative z-0;
  [title] {
    @apply py-2 px-2 md:px-5  w-full flex items-center justify-between;

    &::after {
      content: url("/assets/images/icons/arrow-down-light.svg");
      transition: all 0.3s;
    }
  }
  [content] {
    @apply py-4 px-2 md:px-3;
  }
  [content-box] {
    @apply hidden;
  }

  & > .arrow-none {
    & > [title] {
      &::after {
        display: none;
      }
    }
  }
  &.show {
    & > [title] {
      @apply rounded-b-none;
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
