.btn-toggle {
  @apply w-[50px] h-[18px] bg-primary-dark rounded-full relative cursor-pointer;

  &::after {
    content: "";
    transition: all 0.3s;
    @apply absolute top-0 left-0 w-[18px] h-[18px] bg-body rounded-full shadow-2xl;
  }
  input {
    display: none;
  }

  &.active {
    @apply bg-primary-main;
    box-shadow: inset 0px 0px 9px rgb(0 0 0 / 0.4);
    &::after {
      @apply left-[calc(100%-18px)];
    }
  }
}
