.search-bar {
  @apply grid place-items-center;
  &::after {
    content: "";
    background: url("/assets/images/Left-Header.svg") no-repeat;
    background-size: cover;
    width: 70px;
    height: 55px;
    top: 0;
    right: -69px;
    position: absolute;
    transform: rotateY(180deg);
  }
  &::before {
    content: "";
    background: url("/assets/images/Left-Header.svg") no-repeat;
    background-size: cover;
    width: 70px;
    height: 55px;
    top: 0;
    left: -69px;
    position: absolute;
  }

  .search-bar_inp {
    @apply flex items-center justify-between bg-white  w-full rounded-[4px] px-5 overflow-hidden;
    input {
      @apply flex-grow py-2 text-sm lg:text-[15px];
      &::placeholder {
        @apply text-dark;
      }
    }
    button {
      img {
        @apply ml-2 min-w-[25px] lg:min-w-[30px];
      }
    }
  }
}
