@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/KalamehWeb-Thin.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/KalamehWeb-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/KalamehWeb-Light.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/KalamehWeb-Medium.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/KalamehWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/KalamehWeb-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/KalamehWeb-Bold.woff") format("woff");
}
@font-face {
  font-family: KalamehWeb;
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/KalamehWeb-Regular.woff") format("woff");
}
