@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.product-img {
  @apply flex flex-wrap justify-center gap-5 lg:flex-row-reverse lg:gap-8;

  .product-img-big {
    @apply relative grid cursor-pointer place-items-center lg:w-8/12;
    img {
      @apply max-h-[350px] px-3;
    }
    &.show {
      animation: show 0.5s forwards;
    }

    .zoom {
      @apply absolute top-[50%] left-[50%] flex translate-x-[-50%] translate-y-[-50%] items-center gap-2 rounded-lg bg-white px-4 py-3 text-lg text-black opacity-0 transition-all;
      img {
        @apply px-0;
      }
    }
    &:hover {
      .zoom {
        opacity: 1;
      }
    }

    &.product-img-big-more {
      @apply h-[400px];

      img {
        @apply md:max-h-[500px] md:max-w-[400px];
      }
    }
  }

  .product-img-thumb {
    @apply border-body grid place-items-center rounded-[10px] border-2 border-solid p-2 lg:h-[100px] lg:w-[85px];
    &.active {
      @apply border-primary-dark;
    }

    &:last-child:not(.more) {
      position: relative;
      &::after {
        content: url("/assets/images/icons/Dots.svg");
        @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
      }
      img {
        filter: blur(8px);
      }
    }
    &.more {
      @apply h-[85px] w-[80px];
    }
  }

  .product-image-modal {
    &.active {
      display: block;
      animation: show 0.5s forwards;
    }
    &.close {
      animation: close 0.5s forwards;
    }
  }
}
